{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../static/css/about.css">
<h1>Esto va para " Quienes somos? "</h1>
<div class="master-about">
    <div class="renglon">
        <div class="foto">
            <img src="../static/img/default-user-image.jpg" alt="">
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime earum excepturi ipsum quae est
                dignissimos officia consectetur atque porro optio delectus suscipit eius, mollitia dolorem reiciendis
                cumque natus aut ea?</p>
        </div>
    </div>
    <div>
        <div class="renglon2">
            <div class="description">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt commodi minima molestias!
                Perspiciatis
                perferendis ab quis a dicta veritatis repellendus explicabo. Sapiente voluptatibus nesciunt
                pariatur.
                Voluptatem quibusdam minima nam.
                </p>
            </div>
            <div class="foto">
                <img src="../static/img/default-user-image.jpg" alt="">
            </div>
        </div>
    </div>
</div>
{%endblock%}